@font-face {
	font-family: "Sceageus";
	src: url("fonts/Sceageus.otf");
	src: url("fonts/Sceageus.otf") format("truetype");
}

@font-face {
	font-family: "BaronNeue";
	src: url("fonts/Baron\ Neue.otf");
	src: url("fonts/Baron\ Neue.otf") format("truetype");
}

@font-face {
	font-family: "Kollektif";
	src: url("fonts/Kollektif.ttf");
}

body {
	background-color: #FFFDF9;
	padding:0;
	margin:0;
}
h1 {
	color: #F7941D;
	font-size: 65;
	font-size: 4vw;
}
h2{
	color: #F7941D;
	font-size: min(40px, 5vw);
	font-family: "BaronNeue";
	font-weight: normal	;
	font-style: normal;
}
h3{
	color: #F7941D;
	font-size: 4.5vw;
	font-family: "BaronNeue";
	font-weight: normal	;
	font-style: normal;
}
p {
	color:grey;
	font-size: 15;
	font-size: 2.5vw;
	font-family: "Kollektif";
}
a:hover {
	color:black !important;
}
a:link {
	color:#F7941D;
	text-decoration: none;
}
a:visited {
	color:#F7941D;
}
td {
	font-size: 25
}
li {
	display: inline;
	padding: 8px;
	float:left;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.black_button {
	button {
		color: black;
	}
}
.orange_button {
	button {
		color:#F7941D;
	}
}
.bottom_nav_bar {
	ul {
		background-color:#844f07; 
		margin:0px; 
		margin-top: 15%;
		padding:0px;
	}
	li {
		width:33%; 
		padding:0px; 
		margin:0px
	}
	li p {
		font-size: min(25px, 2.25vw);
	}
	li h2 {
		font-size: min(43px, 4vw);
	}
}
.hours_list {
	li {
		display: inline;
		padding: 0px;
		float: none;
	}
}
.food_items {
	div {
		opacity: 1;
	}
	p {
		color:grey;
		font-size: 15;
		font-size: 1.5vw;
		font-family: "Kollektif";
	}
	h1 {
		color: black;
		font-size: min(40px, 3vw);
		font-family: "BaronNeue";
	}
	h3 {
		color: black;
		font-size: min(40px, 3vw);
		font-family: "Kollektif";
		margin-bottom: 0%;
	}
	li {
		float:none;
		padding: 0;
	}
	li h3 {
		color: black;
		font-size: min(45px,5vw);
		font-family: "Kollektif";
		margin-bottom: 0%;
	}
	li p {
		color:grey;
		font-size: 15;
		font-size: min(30px,3.5vw);
		font-family: "Kollektif";
		padding-left: 5%;
		padding-right: 5%;
	}
	td {
		min-width: 11vw;
		max-width: 25vw;
		height: fit-content;
		max-height: fit-content;
		text-align: center;
	}
	img {
		/* display: none; */
		width: 11vw;
	}
	button {
		font-size: min(38px, 2.75vw);
	}
}
.drink_items {
	div {
		opacity: 1;
	}
	p {
		color:grey;
		font-size: 15;
		font-size: 1.5vw;
		font-family: "Kollektif";
	}
	h1 {
		color: black;
		font-size: min(40px, 3vw);
		font-family: "BaronNeue";
	}
	h3 {
		color: black;
		font-size: min(40px, 3vw);
		font-family: "Kollektif";
		margin-bottom: 0%;
	}
	li {
		float:none;
		padding: 0;
	}
	li h3 {
		color: black;
		font-size: min(45px,5vw);
		font-family: "Kollektif";
		margin-bottom: 0%;
	}
	li p {
		color:grey;
		font-size: 15;
		font-size: min(30px,3.5vw);
		font-family: "Kollektif";
		padding-left: 5%;
		padding-right: 5%;
	}
	td {
		min-width: 11vw;
		max-width: 25vw;
		height: fit-content;
		max-height: fit-content;
		text-align: center;
	}
	img {
		/* display: none; */
		width: 11vw;
	}
}
.current_menu {
	div {
		opacity: 1;
	}
	p {
		color:grey;
		font-size: 15;
		font-size: 1.5vw;
		font-family: "Kollektif";
	}
	h1 {
		color: black;
		font-size: min(40px, 3vw);
		font-family: "BaronNeue";
	}
	h3 {
		color: black;
		font-size: min(40px, 3vw);
		font-family: "Kollektif";
		margin-bottom: 0%;
	}
	li {
		float:none;
		padding: 0;
	}
	li h3 {
		color: black;
		font-size: min(45px,5vw);
		font-family: "Kollektif";
		margin-bottom: 0%;
	}
	li p {
		color:grey;
		font-size: 15;
		font-size: min(30px,3.5vw);
		font-family: "Kollektif";
		padding-left: 5%;
		padding-right: 5%;
	}
	td {
		min-width: 11vw;
		max-width: 25vw;
		height: fit-content;
		max-height: fit-content;
		text-align: center;
	}
	img {
		/* display: none; */
		width: 11vw;
	}
	button {
		font-size: 5px;
	}
}
.main_insta {
	/* style="background-image: url('https://placehold.co/1920x1080'); width:100%;" */
	table {
		background-size: 100%;
		width: 100%;
		margin-top: 5%;
	}
}

.hidden_elements {
	display:none;
}

.button_hover {
	button {
		color: black;
		font-family: "BaronNeue";
		background-color: white;
		border: 0;
		transition-duration: .4s;
		padding-left: 5%;
	}
	button:hover {
		color: #F7941D !important;
	}
}

.selected_button {
	button {
		color: #F7941D !important;
		background-color: white;
		border: 0;
		transition-duration: .4s;
	}
	button:hover {
		color: #F7941D !important;
	}
}

.about_button {
	a:hover {
		color: black;
	}	
}

 /* Dropdown Button */
 .dropbtn {
	background-color: #F7941D;
	color: white;
	padding: 16px;
	font-size: 16px;
	min-width: 90px;
	width: 10vw;
	max-width: 90px;
	height: 10vw;
	max-height: 90px;
	min-height: 90px;
	border: none;
	cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
	background-color: black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: calc(160px + 5vw);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	right: 0;
	z-index: 99;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float:left;
	font-family: Kollektif; 
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 